h1{
    font-family: sans-serif;
}   

p{
    font-family: Noto serif, serif;
}

p a{
    color: darkgreen;
}

p del{
    color: grey;
}

p mark{
    background-color: pink;
    color: darkblue;
}

h2{
    font-family: sans-serif;
    text-align: left;
}

h3{
    color: rgba(00, 00, 139, 0.8);
}

pre{
    font-family: monospace;
}

pre.transparent-text{
    color: rgba(00, 00, 00, 0.5);
}

body.blueBody{
    background-color: #DCF5F5;
    background-image:url(cross.png);
}

#content{
    background-color: white;
}

.blue{
    color: blue;
}

.fancy{
    font-family: cursive;
}

div.out{
    border-style: solid;
    border-color: darkgrey;
    border-radius: 8px;
    border-width: 1px;
}

span.red-border{
    border-style: solid;
    border-color: red;
}

span.red-outline{
    outline-style: solid;
    outline-color: red;
}

div.red-border{
    border-style: solid;
    border-color: red;
}

div.redRounded{
    border-style: solid;
    border-top-color: red;
    border-left-color: red;
    border-right-color: red;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.blue-border{
    border-style: solid;
    border-color: blue;
}

div.blueRounded{
    border-style: solid;
    border-color: blue;
    border-radius: 0px 0px 8px 8px;
}

hr{
    border-color: #CFDFE4;
}

div.outter{
    background-color: blue;
    border-color: red;
    border-style: solid;
}

.outter2{
    margin-top: 20px;
}

div.outter div{
    background-color: yellow;
    border-color: red;
    border-style: solid;
    text-align: right;
}

div.outter div.inner{
    padding: 12px;
    margin: 10px 20px 10px 20px;
    height: 200px;
    width: 700px;
    box-sizing:border-box;
}

div.outter div.inner2{
    height: 400px;
    width: 400px;
    padding: 12px;
    margin: auto;
    box-sizing:border-box;
}

.space{
    padding: 10px;
}

.font{
    font-family: Raleway, serif;
}

blockquote{
    font-family: Raleway;
    word-spacing: 0.2em;
    text-align: justify;
    line-height: 1.5;
    color: dimgrey;
}

h4.font{
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
}

i{
    color:#BFCFD4;
}

.icon{
    text-align: center;
}

.body{
    font-family: Noto serif, serif;
}

ul.list li{
    float: left;
    display: inline;
}

li a.list{
    display: block;
    background-color: darkgrey;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

li a.list:hover{
    background-color: white;
    color: darkgrey;
    text-shadow: lightgrey;
}

ul.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}

ul.sq {
    list-style-type: square;
}
  
ol.roman {
    list-style-type: lower-roman;
}